<div class="inner cover">
  <h1 class="cover-heading">Howdy.</h1>
  <p class="lead">Congrats, you've made it to the Home page. This is my portfolio of stuff.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>